
<ul class="remote-menu">
  <li><a routerLink="/">Home</a></li>
  <li><a routerLink="shop">Shop</a></li>
  <li><a routerLink="cart">Cart</a></li>
  <li><a routerLink="about">About</a></li>
</ul>
<router-outlet></router-outlet>
